name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-eslint:
    name: Run ESLint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install PNPM
        uses: pnpm/action-setup@v2.0.1
        with:
          version: latest

      - name: Install Node.js v14
        uses: actions/setup-node@v2
        with:
          node-version: 12
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run ESLint
        run: pnpm lint

  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install PNPM
        uses: pnpm/action-setup@v2.0.1
        with:
          version: latest

      - name: Install Node.js v14
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run unit tests
        run: pnpm test:ci

      - name: Upload coverage
        uses: codecov/codecov-action@v1

  build-project:
    name: Compile source code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install PNPM
        uses: pnpm/action-setup@v2.0.1
        with:
          version: latest

      - name: Install Node.js v14
        uses: actions/setup-node@v2
        with:
          node-version: 12
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Register problem matcher
        run: echo "##[add-matcher].github/problem-matchers/tsc.json"

      - name: Compile TypeScript
        run: pnpm build
